* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

img,
video,
svg {
  max-width: 100%;
  display: block;
}

main {
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
}
