* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.section {
  background-color: red;
}
.container {
  background-color: green;
  max-width: 1200px;
  /* margin: 0 auto; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
  /* padding: 0 24px; */
  /* padding-left: 24px;
  padding-right: 24px; */
  padding-inline: 24px;
}
.wrapper {
  background-color: blue;
  /* padding: 64px 0; */
  /* padding-top: 64px;
  padding-bottom: 64px; */
  padding-block: 64px;
}
