* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

main {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
  overflow: hidden;
}

section:nth-child(even) {
  background-color: dimgrey;
}

.wrapper {
  width: min(60ch, 100% - 4rem);
  min-height: max(50rem, 100dvh);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  border: 1px solid red;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

#s1 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#s2 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#s3 {
  .animTarget {
    transform: translateX(100vw);
  }
  .animTarget:nth-child(1) {
    transition: transform 500ms ease-in-out;
  }
  .animTarget:nth-child(2) {
    transition: transform 450ms ease-in-out 50ms;
  }
  &.triggered {
    .animTarget {
      transform: translateX(0);
    }
  }
}

#s4 {
  .animTarget {
  }
  .animTarget:nth-child(1) {
    transform: translateY(-100vw);
    transition: transform 500ms ease-in-out;
  }
  .animTarget:nth-child(2) {
    transform: translateY(100vw);
    transition: transform 500ms ease-in-out;
  }
  &.triggered {
    .animTarget {
      transform: translateY(0);
    }
  }
}

#s5 {
  .animTarget {
    opacity: 0;
    transition: transform 750ms ease-out,
      opacity 1000ms;
  }
  .animTarget:nth-child(1) {
    transform: translateY(-50px);
  }
  .animTarget:nth-child(2) {
    transform: translateY(50px);
  }
  &.triggered {
    .animTarget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#s6 {
  &.triggered {
    .animTarget:nth-child(1) {
      animation: wiggle 2s linear infinite;
    }
    .animTarget:nth-child(2) {
      animation: wiggle 2s linear infinite reverse;
    }
  }
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
