* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

main {
  margin-inline: auto;
  /* padding-inline: 32px;
  max-width: 70ch; */
  width: min(70ch, 100% - 2 * 32px);
}

img,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
}
