* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}
.container {
  /* background-color: green; */
  --variableName: 64px;
  max-width: calc(
    1200px + 2 * var(--variableName)
  );
  margin-inline: auto;
  padding-inline: var(--variableName);
}
.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.button--type-text {
  background-color: unset;
  color: slateblue;
  padding-inline: 0;
}
