* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 32px;
  padding-block: 64px;
}

.blank .container {
  min-height: 100dvh;
}
