*,
*::before,
*::after {
  box-sizing: border-box;
}

$body-bg: hsl(0, 0%, 12%);

html {
  color-scheme: dark light;
}

body {
  background: $body-bg;
  color: white;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

section {
  padding-block: 5rem;
  &-title {
    font-size: 2.25rem;
  }
}

.diagonal {
  $skew-angle: -5deg;
  $background: linear-gradient(
    45deg in oklch,
    oklch(70% 0.25 30) 0%,
    oklch(70% 0.25 150) 50%,
    oklch(70% 0.25 270) 100%
  );
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    background: $background;
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY($skew-angle);
  }
}

.spikes {
  $spike-width: 50px;
  $spike-height: 10px;
  $spike-color: $body-bg;

  position: relative;
  color: black;
  background: linear-gradient(
    to right in oklch,
    oklch(90% 0.25 00) 0%,
    oklch(90% 0.25 90) 100%
  );

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $spike-height;
    background: $spike-color;
    mask-image: url("../assets/triangle.svg");
    mask-size: $spike-width $spike-height;
    /* mask-repeat: repeat-x; */
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
    transform: rotate(0.5turn);
  }
}

.wavy {
  /* mask created with 
  https://css-generators.com/wavy-shapes/ */

  background: linear-gradient(to right, #00f260, #0575e6);

  $mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  mask: $mask;
}
