@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;
$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $bg;
  color: $txt;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(80ch + 2 * $wrapper-padding-inline);
  min-height: max(50dvh, $min-height);
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

// nth-child도 있는데 그 차이는 온라인 검색해보시길.
section:nth-of-type(odd) {
  background-color: $bgVariant;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, $min-height);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: $surface-transparent;
  font-size: 0.875rem;
  backdrop-filter: blur(0.25rem);

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 150ms ease-out;
      color: $onSurface;
      font-weight: 600;
      text-transform: capitalize;
      gap: 0.75rem;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.125rem;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
        border: 0.125rem solid $onSurface;
        border-radius: 999999999px;
      }

      &:hover {
        color: $accent;

        &::before {
          border-color: $accent;
        }
      }

      &.pressed {
        color: $accent;

        &::before {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;

  .indicator {
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $accent;
    inset: 0;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-height;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }

      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width < 59.1875rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}
