* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

img {
  display: block;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 960px;
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}

.wrapper {
  padding-block: 2rem;
  min-height: 100dvh;
}

#section1 {
  .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}

#card2 {
  // position: static;
  position: relative;
  // position: absolute;
  // position: fixed;
  // position: sticky;
  // top: 20px;
  // left: 40px;
}

.card {
  max-width: 18.75rem;
  &__roundedBorder {
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  &__text {
    padding: 1rem;
    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    p {
      $lineHeightVal: 1.5rem;
      $clampLine: 4;
      line-height: $lineHeightVal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-line-clamp: $clampLine;
      -webkit-line-clamp: $clampLine;
      max-height: $clampLine * $lineHeightVal;
    }
  }
  &__buttons {
    padding: 1rem;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: blue;
  color: rgba($color: #ffffff, $alpha: 0.87);
  border-radius: 62.4375rem;
  &--type {
    &-text {
      background-color: unset;
      color: blue;
      padding-inline: 0.5rem;
    }
  }
}

.badge {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  aspect-ratio: 1 / 1;
  min-width: 1.25rem;
  width: fit-content;
  padding: 0.25rem;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: bold;
  background-color: red;
  color: rgba($color: #ffffff, $alpha: 0.87);
  border-radius: 62.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
