* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

img {
  display: block;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}
.wrapper {
  padding-block: 2rem;
}

#section1 .wrapper {
  display: flex;
  gap: 1rem;
}

.card {
  cursor: pointer;
  max-width: 18.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  transition: all 500ms ease;
}
.card:hover {
  transform: translateY(-0.125rem) scale(1.01);
  box-shadow: 0 0.5rem 0.75rem 0.375rem rgba(0, 0, 0, 0.15), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.card:hover .card__img {
  filter: grayscale(0);
}
.card__img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: filter 500ms ease;
}
.card__text {
  padding: 1rem;
}
.card__text h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card__text p {
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 4;
  -webkit-line-clamp: 4;
  max-height: 6rem;
}
.card__buttons {
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: blue;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 62.4375rem;
  transition: background-color 300ms ease;
}
.button:hover {
  background-color: cornflowerblue;
}
.button--type-text {
  background-color: unset;
  color: blue;
  padding-inline: 0.5rem;
  transition: color 300ms ease;
}
.button--type-text:hover {
  background-color: unset;
  color: cornflowerblue;
}