*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
}

.wrapper {
  margin-inline: auto;
  max-width: 80ch;
  padding-inline: 2rem;
  min-height: max(100dvh, 37.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  text-align: center;
  text-wrap: balance;
}

.stickyWrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {
  grid-column: 1;
  grid-row: 1;
}

aside {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: max(100dvh, 37.5rem);
  font-size: 0.875rem;
  padding-inline: 1rem 1.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  border-radius: 0 0.625rem 0.625rem 0;
  border: 0.0625rem solid rgba(255, 255, 255, 0.18);
}
aside ol {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}
aside a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
}
aside li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  transition: color 250ms ease-out;
}
aside li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 999999rem;
  border: 0.125rem solid;
  transition: border-color 250ms ease-out;
}

footer .wrapper {
  min-height: max(100dvh, 37.5rem);
}

@media (prefers-color-scheme: light) {
  section:nth-of-type(odd) {
    background-color: oklch(80% 0 300);
  }
  aside {
    background: rgba(255, 255, 255, 0.25);
  }
  aside a {
    color: oklch(40% 0 0);
  }
  aside li::before {
    border-color: oklch(40% 0 0);
  }
  aside li:hover {
    color: oklch(40% 0.25 300);
  }
  aside li:hover::before {
    border-color: oklch(40% 0.25 300);
  }
  footer {
    background-color: oklch(80% 0 300);
  }
}
@media (prefers-color-scheme: dark) {
  section:nth-of-type(odd) {
    background-color: oklch(40% 0 300);
  }
  aside {
    background: rgba(0, 0, 0, 0.25);
  }
  aside a {
    color: oklch(80% 0 0);
  }
  aside li::before {
    border-color: oklch(80% 0 0);
  }
  aside li:hover {
    color: oklch(80% 0.25 300);
  }
  aside li:hover::before {
    border-color: oklch(80% 0.25 300);
  }
  footer {
    background-color: oklch(40% 0 300);
  }
}
@media (width <= 62.5rem) {
  aside {
    width: unset;
    height: -moz-fit-content;
    height: fit-content;
    padding-inline: unset;
    padding-block: 1rem;
    border-radius: 0 0 0.625rem 0.625rem;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  aside::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  aside ol {
    flex-direction: row;
    justify-content: start;
    gap: 4rem;
  }
  aside::before, aside::after {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 2rem;
    height: 100%;
  }
}